
.BoxTextWorkComponentActive{
position: absolute;
color: var(--ColorWhite);
right: -1rem;
bottom: -2rem;
padding: 1em;
background-color: var(--ColorSecundaria);
border-radius: 20px;
opacity: 1;
transform: translateY(10px);
transition: all 0.5s ease-in;

h3{
font-size: 1.5em;
}

a{
font-size: 1em;
color: var(--ColorWhite);
text-decoration: none;
}

}

.MyWorkConteiner{

display: flex;
flex-direction: column;
align-items: center;
gap: 3rem;

nav {

display: inline-block;
padding: 1em;
background-color: #000;
border-radius: 999px;
z-index: 4;

.ConteinerNavWork {

display: flex;
padding: 0 10px;
gap: 0.5em;

button{
padding: 0.5em;
background: none;
border: none;
color: var(--ColorWhite);
cursor: pointer;
}

}
}

.BoxWork {

display: flex;
align-items: stretch;
justify-content: center;
flex-wrap: wrap;
gap: 3em;
position: relative;
padding: 0 1rem;

&:before {
content: "";
position: absolute;
left: auto;
right: auto;
width: 35%;
height: 55vh;
border-radius: 50%;
background: linear-gradient(260deg, var(--ColorSecundaria) 0, rgba(115, 67, 210, 0) 100%);
filter: blur(150px);
}
&:after, :before {
--tw-content: "";
}
& *, :after, :before {
box-sizing: border-box;
border: 0 solid #e5e7eb;
}

}

}

.MyWorkComponet{

display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
background-color: var(--ColorTerciaria);
width:100%;
max-width: 400px;

.ConteinerMyWorkComponet{

position: relative;
padding: 0.5rem;
height: 100%;

img{
width: 100%;
height:100%;
}

.BoxTextWorkComponent{
position: absolute;
color: var(--ColorWhite);
left: 1rem;
bottom: 2rem;
padding: 1em;
background-color: var(--ColorSecundaria);
border-radius: 20px;
opacity: 0;
transform: translateY(30px);

h3{
font-size: 1em;
}

a{
font-size: 0.5em;
color: var(--ColorWhite);
text-decoration: none;
}

}

}
}

@media screen and (max-width: 768px) {

.MyWorkComponet{

.ConteinerMyWorkComponet{
padding: 0.5rem;

.BoxTextWorkComponent{

bottom: -2rem;
padding: 0.5em;

h3{
font-size: 1.5em;
}

a{
font-size: 0.9em;
}

}

}
}

.BoxTextWorkComponentActive{

padding: 0.5rem;

h3{
font-size: 1.5em;
}

a{
font-size: 0.9em;
}

}

}